.item{
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 4px solid #1976d2;
    margin: 1rem;
}

.item_time-el{
    /* font-size: 1.5rem; */

    list-style: none;
    font-weight: bold;
    color: #1976d2;


}

.item_time{
    padding-left:0;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.item_title{
    padding-top: 14px;
}

.item_title-number{
    font-size: 16px;
    font-weight: 500;
}
.item_time-el__active{
    color: #1976d2;
    font-weight: bold;
    font-size: 1.5rem;
}